In [3]:
print("hello world")

hello world

In [4]:
c=2.7
print(type(c))

<class 'float'>

In [5]:
b=int(3.7)
print(type(b))

<class 'int'>

In [6]:
#if else statement
age=int(input("enter your age"))
iq=int(input("enter your iq"))
if not(age>18) and iq>100:
    print("eligible for licence")
elif age>18 and iq<100:
    print("public threat")
else:
    print("not eligible")

not eligible

In [7]:
d="hello world"
d.strip()

'hello world'

In [8]:
e="hello world"
#e.isalpha()
#e.isdigit()
e.find('l')

2

In [9]:
#while statement
f=1
while f<10:
    if f==6:
        continue
    print(f)
    f+=2

1
3
5
7
9

In [10]:
for i in "hello world":
    print(i)

h
e
l
l
o

w
o
r
l
d

In [11]:
for i in range(10,0,-2):
    print(i)

10
8
6
4
2

In [12]:
list1=[red,blue,orange]
list2=["apple","banana","mango"]
for i in list1:
    for j in list2:
        print(i+j)

NameError: name 'red' is not defined

In [ ]:
print(True+5 ,False+5)

6 5

In [ ]:
for i in range(3):
    print(bool(i))

False
True
True

In [ ]:
a=1
if a:
    print("True branch")
else:
    print("False branch")

True branch

In [ ]:
n=2
while n<10:
    n**=2
    print(n)

4
16

In [ ]:
s="hello"
if "h" in s and "l" not in s:
    print("Yes")
else:
    print("No")

No

In [ ]:
num=int(input("Enter a Number:"))
if num%3==0:
    if num%5==0:
        print("divi by both")
    else: 
        print("only by 3")
else:
    print("not divi")

not divi

In [ ]:
x=True
y=False
if x and not y:
    print("pass")
else:
    print("fail")

pass

In [ ]:
for i in range(1,5):
    print(i*2)

2
4
6
8

In [ ]:
for i in range(10,3,-2):
    print(i)

10
8
6
4

In [ ]:
for i in range(1,7):
    for j in range(1,2):
        print(i*j)

1
2
3
4
5
6

In [ ]:
for i in range(1,3):
    for j in range(2,5):
        print(i*j,end=" ")

2 3 4 4 6 8

In [ ]:
n=0
while n<10:
    if n==5:
        break
    print(n)
    n+=2

0
2
4
6
8

In [ ]:
n=0
while n<6:
    n+=1
    if n%2==0:
        continue
    print(n,end="")

135

In [ ]:
a=5
b=2
print(a%b)

1

In [ ]:
#list (mutable)
lst=["abcd","def",1,3,4]
lst.pop()
lst.remove("abcd")
print(lst)

['def', 1, 3]

In [ ]:
lst.remove("xyz")
print(lst)

['def', 1, 3]

In [ ]:
lst.append("red")
lst.insert(5,"llm")
print(lst)

['def', 1, 3, 'red', 'llm']

In [ ]:
lst2=[3,5,6,7,2,1,8]
lst2.sort()
print(lst2)

[1, 2, 3, 5, 6, 7, 8]

In [ ]:
lst3=["apple","mango","banana"]
lst4=['red',"blue","green"]
lst3.sort(reverse=False)
print(lst3)
lst3.extend(lst4)
print(lst3)
print(lst3)

['apple', 'banana', 'mango']
['apple', 'banana', 'mango', 'red', 'blue', 'green']
['apple', 'banana', 'mango', 'red', 'blue', 'green']

In [ ]:
#list methods
#remove
#insert
#append
#sort
#reverse
#slicing
#extend
#clear
#del

In [ ]:
#tuple methods
t=(2,3,4,"apple")
t[0]
t[0:4]#Accessing
#Slicing
#Concatenation
#Length
#index
#counting
#nested
t1=(1,2,3,4)
t2=(1,2,3,4)
print(t1==t2)#Comparisons
print(t)
t3=("hello",1,2,3)
t4=("world","prg")
t5=t3+t4
print(t5)
len(t5)
a="hello"
a.count("e")

True
(2, 3, 4, 'apple')
('hello', 1, 2, 3, 'world', 'prg')

1

In [ ]:
lst8=[[2,3],[3,4],[4,5]]
lst8[2][1]

5

In [ ]:
#dictionary(mutable)
dictr={"name":"Suhas","age":21,"address":"engineer"}
dictr.keys()
dictr.get("age")
dictr.update({"name":"abcd"})
#print(dictr)
#dictr.pop("age")
#dictr.clear()
#print(dictr)
dictr1=dictr
dictr2={"name":"abcd","age":211,"address":"being"}
dictr1.update(dictr2)
print(dictr1)

{'name': 'abcd', 'age': 211, 'address': 'being'}

In [ ]:
#F-strings(formatted strings)
b="hello"
a="raj"
print(f'{b} he is {a} {b+a}')

hello he is raj helloraj

In [ ]:
#Functions
def greeting(a,b):
    print(f"hello {a} hi {b}")
    print("welcome")
    print("to Bengaluru")
    print("and have a good day")
greeting("abhinav","goutham")

hello abhinav hi goutham
welcome
to Bengaluru
and have a good day

In [ ]:
def addt(a,b):
    return a+b
addt(int(input("a=")),int(input("b=")))

170

In [ ]:
lst=[[1,2],[3,4]]
lst[0][1]=99
print(lst)

[[1, 99], [3, 4]]

In [ ]:
t=(1,2,[3,4])
t[2][0]=99
print(t)

(1, 2, [99, 4])

In [ ]:
d1={"a":1,"b":2}
d2={"b":3,"c":4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 3, 'c': 4}

In [ ]:
d={"a":1,"b":2}
print("a"in d)
print("c" in d)

True
False

In [ ]:
lst=[1,2,3,4,5]
for i in lst:
    if i%2==0:
        lst.remove(i)
print(lst)

[1, 3, 5]

In [ ]:
t=(1,2,[3,4,5])
t[2][1]=99
print(t)

(1, 2, [3, 99, 5])

In [ ]:
lst=[(1,2),(4,3),(5,6)]
for a,b in lst:
    if a>b:
        print(f"{a} is greater than {b}")
    else:
        print(f"{b} is greater than {a}")

2 is greater than 1
4 is greater than 3
6 is greater than 5

In [ ]:
#sets
s={2,3,4,4,5}
#Characteristics of sets
#Mutable,items not mutable,unordered,no duplicates

In [ ]:
print(type(s))
print(s)

<class 'set'>
{2, 3, 4, 5}

In [ ]:
s1={2,3,4,3,2,"hello"}
s1.add(5)
s1.remove(4)
s1.pop()
print(s1)

{3, 5, 'hello'}

In [ ]:
s2={1,2,3,4}
s3={3,4,5,6}
s4={4,5,6,7}
a=s2.union(s3)#join/merges without repeatation of values

In [ ]:
print(a)

{1, 2, 3, 4, 5, 6}

In [ ]:
b=s2.intersection(s3,s4)
print(b)#common values

{4}

In [ ]:
#Functions
def sum_of_list(l):
    return sum(l)
sum_of_list((2,3,4,5,6))

20

In [ ]:
def check_even_odd(a):
    if a%2==0:
        print("even")
    else:
        print("odd")
check_even_odd(121)

odd

In [ ]:
def largest(a,b,c):
    if a>b and a>c:
        print(f"{a} is greater than {b} and {c}")
    elif b>a and b>c:
        print(f"{b} is greater than {a} and {c}")
    else:
        print(f"{c} is greater than {a} and {b}")
largest(9,23,5)

23 is greater than 9 and 5

In [ ]:
import pandas as pd
df=pd.read_csv("Sales_April_2019.csv")

In [ ]:
df.head(8)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,176559,Bose SoundSport Headphones,1,99.99,04-07-2019 22:30,"682 Chestnut St, Boston, MA 02215"
2,176560,Google Phone,1,600,04-12-2019 14:38,"669 Spruce St, Los Angeles, CA 90001"
3,176560,Wired Headphones,1,11.99,04-12-2019 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"
5,176562,USB-C Charging Cable,1,11.95,04/29/19 13:03,"381 Wilson St, San Francisco, CA 94016"
6,176563,Bose SoundSport Headphones,1,99.99,04-02-2019 07:46,"668 Center St, Seattle, WA 98101"
7,176564,USB-C Charging Cable,1,11.95,04-12-2019 10:58,"790 Ridge St, Atlanta, GA 30301"

In [ ]:
df.tail()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
18378,194090,Google Phone,1,600,04/08/19 17:11,"177 Jackson St, Los Angeles, CA 90001"
18379,194091,AA Batteries (4-pack),1,3.84,04/15/19 16:02,"311 Forest St, Austin, TX 73301"
18380,194092,AAA Batteries (4-pack),2,2.99,04/28/19 14:36,"347 Sunset St, San Francisco, CA 94016"
18381,194093,AA Batteries (4-pack),1,3.84,04/14/19 15:09,"835 Lake St, Portland, OR 97035"
18382,194094,Lightning Charging Cable,1,14.95,04/18/19 11:08,"354 North St, Boston, MA 02215"

In [ ]:
df.head(7)
df.tail(3)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
18380,194092,AAA Batteries (4-pack),2,2.99,04/28/19 14:36,"347 Sunset St, San Francisco, CA 94016"
18381,194093,AA Batteries (4-pack),1,3.84,04/14/19 15:09,"835 Lake St, Portland, OR 97035"
18382,194094,Lightning Charging Cable,1,14.95,04/18/19 11:08,"354 North St, Boston, MA 02215"

In [ ]:
df.describe()#

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
count,18324,18324,18324,18324,18324,18324
unique,17538,20,8,18,13584,17120
top,Order ID,Lightning Charging Cable,1,14.95,Order Date,Purchase Address
freq,35,2201,16558,2201,35,35

In [ ]:
df.dtypes#data types

Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18382 entries, 0 to 18381
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          18324 non-null  object
 1   Product           18324 non-null  object
 2   Quantity Ordered  18324 non-null  object
 3   Price Each        18324 non-null  object
 4   Order Date        18324 non-null  object
 5   Purchase Address  18324 non-null  object
dtypes: object(6)
memory usage: 861.8+ KB

In [ ]:
df.columns

Index(['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date',
       'Purchase Address'],
      dtype='object')

In [ ]:
df.duplicated().sum()#duplicate values

np.int64(114)

In [ ]:
df.isnull().sum()#count of null values

Order ID            58
Product             58
Quantity Ordered    58
Price Each          58
Order Date          58
Purchase Address    58
dtype: int64

In [ ]:
df=df.rename(columns={"Product":"Item"})

In [ ]:
df=df.rename(columns={"Quantity Ordered":"No. of Orders"})

In [ ]:
df=df.sort_values("Item")

In [ ]:
df["Item"].unique()

array(['USB-C Charging Cable', nan, 'Bose SoundSport Headphones',
       'Google Phone', 'Wired Headphones', 'Macbook Pro Laptop',
       'Lightning Charging Cable', '27in 4K Gaming Monitor',
       'AA Batteries (4-pack)', 'Apple Airpods Headphones',
       'AAA Batteries (4-pack)', 'iPhone', 'Flatscreen TV',
       '27in FHD Monitor', '20in Monitor', 'LG Dryer', 'ThinkPad Laptop',
       'Vareebadd Phone', 'LG Washing Machine', '34in Ultrawide Monitor',
       'Product'], dtype=object)

In [ ]:

df.drop_duplicates()#remove duplicate values

,Order ID,Product,No. of Orders,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
18378,194090,Google Phone,1,600,04/08/19 17:11,"177 Jackson St, Los Angeles, CA 90001"
18379,194091,AA Batteries (4-pack),1,3.84,04/15/19 16:02,"311 Forest St, Austin, TX 73301"
18380,194092,AAA Batteries (4-pack),2,2.99,04/28/19 14:36,"347 Sunset St, San Francisco, CA 94016"
18381,194093,AA Batteries (4-pack),1,3.84,04/14/19 15:09,"835 Lake St, Portland, OR 97035"
18382,194094,Lightning Charging Cable,1,14.95,04/18/19 11:08,"354 North St, Boston, MA 02215"

In [ ]:
df.iloc[0]#location of row

Order ID                                    193018
Item                                  20in Monitor
No. of Orders                                    1
Price Each                                  109.99
Order Date                        04-10-2019 19:58
Purchase Address    378 Pine St, Seattle, WA 98101
Name: 17245, dtype: object

In [ ]:
df.shape

(18383, 6)

In [ ]:
df.dropna()

,Order ID,Item,No. of Orders,Price Each,Order Date,Purchase Address
17245,193018,20in Monitor,1,109.99,04-10-2019 19:58,"378 Pine St, Seattle, WA 98101"
17128,192906,20in Monitor,1,109.99,04/30/19 07:50,"881 Adams St, San Francisco, CA 94016"
15175,191032,20in Monitor,1,109.99,04/20/19 21:44,"674 14th St, Atlanta, GA 30301"
17124,192902,20in Monitor,1,109.99,04-11-2019 07:56,"467 Johnson St, Los Angeles, CA 90001"
325,176868,20in Monitor,1,109.99,04-05-2019 07:37,"213 Highland St, Boston, MA 02215"
...,...,...,...,...,...,...
7145,183376,iPhone,1,700,04/13/19 09:09,"638 Forest St, San Francisco, CA 94016"
7142,183373,iPhone,1,700,04-09-2019 10:46,"216 4th St, Portland, ME 04101"
8583,184758,iPhone,1,700,04/13/19 20:02,"306 7th St, New York City, NY 10001"
1399,177888,iPhone,1,700,04-07-2019 18:11,"530 Jefferson St, San Francisco, CA 94016"
14343,190235,iPhone,1,700,04-08-2019 21:53,"425 2nd St, Austin, TX 73301"

In [44]:
import pandas as pd
df=pd.read_csv("forbes_billionaires.csv")
df

,Name,NetWorth,Country,Source,Rank,Age,Residence,Citizenship,Status,Children,Education,Self_made
0,Jeff Bezos,177.0,United States,Amazon,1,57.0,"Seattle, Washington",United States,In Relationship,4.0,"Bachelor of Arts/Science, Princeton University",True
1,Elon Musk,151.0,United States,"Tesla, SpaceX",2,49.0,"Austin, Texas",United States,In Relationship,7.0,"Bachelor of Arts/Science, University of Pennsy...",True
2,Bernard Arnault & family,150.0,France,LVMH,3,72.0,"Paris, France",France,Married,5.0,"Bachelor of Arts/Science, Ecole Polytechnique ...",False
3,Bill Gates,124.0,United States,Microsoft,4,65.0,"Medina, Washington",United States,Divorced,3.0,"Drop Out, Harvard University",True
4,Mark Zuckerberg,97.0,United States,Facebook,5,36.0,"Palo Alto, California",United States,Married,2.0,"Drop Out, Harvard University",True
...,...,...,...,...,...,...,...,...,...,...,...,...
2750,Daniel Yong Zhang,1.0,China,e-commerce,2674,49.0,"Hangzhou, China",China,NaN,NaN,NaN,True
2751,Zhang Yuqiang,1.0,China,Fiberglass,2674,65.0,"Tongxiang, China",China,NaN,NaN,NaN,True
2752,Zhao Meiguang,1.0,China,gold mining,2674,58.0,"Jilin, China",China,NaN,NaN,NaN,True
2753,Zhong Naixiong,1.0,China,conglomerate,2674,58.0,"Foshan, China",China,NaN,NaN,NaN,True
2754,Zhou Wei family,1.0,China,Software,2674,54.0,"Shanghai, China",China,Married,NaN,NaN,True

In [13]:
df.head()

,Name,NetWorth,Country,Source,Rank,Age,Residence,Citizenship,Status,Children,Education,Self_made
0,Jeff Bezos,177.0,United States,Amazon,1,57.0,"Seattle, Washington",United States,In Relationship,4.0,"Bachelor of Arts/Science, Princeton University",True
1,Elon Musk,151.0,United States,"Tesla, SpaceX",2,49.0,"Austin, Texas",United States,In Relationship,7.0,"Bachelor of Arts/Science, University of Pennsy...",True
2,Bernard Arnault & family,150.0,France,LVMH,3,72.0,"Paris, France",France,Married,5.0,"Bachelor of Arts/Science, Ecole Polytechnique ...",False
3,Bill Gates,124.0,United States,Microsoft,4,65.0,"Medina, Washington",United States,Divorced,3.0,"Drop Out, Harvard University",True
4,Mark Zuckerberg,97.0,United States,Facebook,5,36.0,"Palo Alto, California",United States,Married,2.0,"Drop Out, Harvard University",True

In [14]:
df.isnull().sum()

Name              0
NetWorth          0
Country           0
Source            0
Rank              0
Age             125
Residence        40
Citizenship      16
Status          665
Children       1203
Education      1346
Self_made        18
dtype: int64

In [15]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2750    False
2751    False
2752    False
2753    False
2754    False
Length: 2755, dtype: bool

In [16]:
df[["Country","Name"]]

            Country                      Name
0     United States                Jeff Bezos
1     United States                 Elon Musk
2            France  Bernard Arnault & family
3     United States                Bill Gates
4     United States           Mark Zuckerberg
...             ...                       ...
2750          China         Daniel Yong Zhang
2751          China             Zhang Yuqiang
2752          China             Zhao Meiguang
2753          China            Zhong Naixiong
2754          China           Zhou Wei family

[2755 rows x 2 columns]

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2755 entries, 0 to 2754
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         2755 non-null   object
 1   NetWorth     2755 non-null   float64
 2   Country      2755 non-null   object
 3   Source       2755 non-null   object
 4   Rank         2755 non-null   int64
 5   Age          2630 non-null   float64
 6   Residence    2715 non-null   object
 7   Citizenship  2739 non-null   object
 8   Status       2090 non-null   object
 9   Children     1552 non-null   float64
 10  Education    1409 non-null   object
 11  Self_made    2737 non-null   object
dtypes: float64(3), int64(1), object(8)
memory usage: 258.4+ KB

In [18]:
df.dtypes

Name            object
NetWorth       float64
Country         object
Source          object
Rank             int64
Age            float64
Residence       object
Citizenship     object
Status          object
Children       float64
Education       object
Self_made       object
dtype: object

In [19]:
df.dropna()
df.notnull().sum()

Name           2755
NetWorth       2755
Country        2755
Source         2755
Rank           2755
Age            2630
Residence      2715
Citizenship    2739
Status         2090
Children       1552
Education      1409
Self_made      2737
dtype: int64

In [20]:
df["Children"]

0       4.0
1       7.0
2       5.0
3       3.0
4       2.0
       ...
2750    NaN
2751    NaN
2752    NaN
2753    NaN
2754    NaN
Name: Children, Length: 2755, dtype: float64

In [59]:
df.loc[2,"Name","NetWorth"]

IndexingError: Too many indexers

In [22]:
df.dropna(inplace=True)

In [23]:
df.shape

(995, 12)

In [24]:
df.fillna(0,inplace=True)

In [45]:
df=df.rename(columns={"Country":"Nation"})

In [26]:
df.duplicated().sum()

np.int64(0)

In [27]:
df.loc[0,"Nation"]

'United States'

In [28]:
df["Nation"].unique()

array(['United States', 'France', 'India', 'Mexico', 'Japan', 'Canada',
       'Hong Kong', 'Russia', 'China', 'Germany', 'Austria', 'Sweden',
       'Australia', 'Brazil', 'Netherlands', 'South Korea', 'Malaysia',
       'Nigeria', 'Colombia', 'Italy', 'Denmark', 'Switzerland', 'Egypt',
       'South Africa', 'United Kingdom', 'Ukraine', 'Ireland',
       'Singapore', 'Taiwan', 'Indonesia', 'Norway', 'Turkey', 'Romania',
       'Czechia', 'Israel', 'Eswatini (Swaziland)', 'Spain', 'Thailand',
       'Philippines', 'Venezuela', 'Chile', 'Kazakhstan', 'Lebanon',
       'Argentina', 'United Arab Emirates', 'Greece', 'Iceland', 'Poland',
       'Morocco', 'Vietnam', 'Zimbabwe', 'Peru'], dtype=object)

In [29]:
df["Nation"].value_counts()

Nation
United States           471
Russia                  100
India                    72
China                    46
South Korea              33
Taiwan                   25
Hong Kong                20
Brazil                   18
Germany                  16
Canada                   16
Australia                15
Japan                    11
Switzerland              10
Malaysia                 10
Sweden                    9
United Kingdom            9
Turkey                    8
Italy                     8
Mexico                    7
Philippines               7
Spain                     7
Thailand                  6
Ukraine                   6
Israel                    6
France                    5
Czechia                   5
Indonesia                 5
Egypt                     5
Chile                     3
Singapore                 3
Lebanon                   3
Austria                   2
Colombia                  2
Nigeria                   2
Netherlands               2
South Africa              2
Ireland                   2
Kazakhstan                2
Morocco                   2
Peru                      2
Eswatini (Swaziland)      1
Romania                   1
Norway                    1
Denmark                   1
Argentina                 1
Venezuela                 1
United Arab Emirates      1
Greece                    1
Poland                    1
Iceland                   1
Vietnam                   1
Zimbabwe                  1
Name: count, dtype: int64

In [46]:
df.loc[23,"Name"]

'Gautam Adani & family'

In [36]:
df

,Name,NetWorth,Nation,Source,Rank,Age,Residence,Citizenship,Status,Children,Education,Self_made
0,Jeff Bezos,177.0,United States,Amazon,1,57.0,"Seattle, Washington",United States,In Relationship,4.0,"Bachelor of Arts/Science, Princeton University",True
1,Elon Musk,151.0,United States,"Tesla, SpaceX",2,49.0,"Austin, Texas",United States,In Relationship,7.0,"Bachelor of Arts/Science, University of Pennsy...",True
2,Bernard Arnault & family,150.0,France,LVMH,3,72.0,"Paris, France",France,Married,5.0,"Bachelor of Arts/Science, Ecole Polytechnique ...",False
3,Bill Gates,124.0,United States,Microsoft,4,65.0,"Medina, Washington",United States,Divorced,3.0,"Drop Out, Harvard University",True
4,Mark Zuckerberg,97.0,United States,Facebook,5,36.0,"Palo Alto, California",United States,Married,2.0,"Drop Out, Harvard University",True
...,...,...,...,...,...,...,...,...,...,...,...,...
2736,Surin Upatkoon,1.0,Thailand,"telecom, lotteries, insurance",2674,72.0,"Kuala Lumpur, Malaysia",Thailand,Married,3.0,High School,True
2737,Ruben Vardanyan,1.0,Russia,investment banking,2674,52.0,"Moscow, Russia",Russia,Married,4.0,"Master of Science, Moscow State University",True
2742,J. Wayne Weaver,1.0,United States,Shoes,2674,85.0,"Jacksonville, Florida",United States,Married,2.0,"Bachelor of Science, University of Florida",True
2743,Sandy Weill,1.0,United States,Citigroup,2674,88.0,"Sonoma, California",United States,Married,2.0,"Bachelor of Arts/Science, Cornell University",True
2746,Vadim Yakunin,1.0,Russia,pharmacy,2674,58.0,"Moscow, Russia",Russia,Married,3.0,"Bachelor of Arts/Science, Moscow Institute of ...",True

In [37]:
df["Status"]=df["Status"].fillna(method='bfill')

C:\Users\SUHAS S\AppData\Local\Temp\ipykernel_6104\193256210.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["Status"]=df["Status"].fillna(method='bfill')

In [38]:
import warnings #To remove warnings
warnings.filterwarnings("ignore")

In [39]:
df["Nation"]+df["Residence"]

0         United StatesSeattle, Washington
1               United StatesAustin, Texas
2                      FranceParis, France
3          United StatesMedina, Washington
4       United StatesPalo Alto, California
                       ...
2736        ThailandKuala Lumpur, Malaysia
2737                  RussiaMoscow, Russia
2742    United StatesJacksonville, Florida
2743       United StatesSonoma, California
2746                  RussiaMoscow, Russia
Length: 995, dtype: object

In [40]:
df["address"]=df["Nation"]+', '+df["Residence"]
df

,Name,NetWorth,Nation,Source,Rank,Age,Residence,Citizenship,Status,Children,Education,Self_made,address
0,Jeff Bezos,177.0,United States,Amazon,1,57.0,"Seattle, Washington",United States,In Relationship,4.0,"Bachelor of Arts/Science, Princeton University",True,"United States, Seattle, Washington"
1,Elon Musk,151.0,United States,"Tesla, SpaceX",2,49.0,"Austin, Texas",United States,In Relationship,7.0,"Bachelor of Arts/Science, University of Pennsy...",True,"United States, Austin, Texas"
2,Bernard Arnault & family,150.0,France,LVMH,3,72.0,"Paris, France",France,Married,5.0,"Bachelor of Arts/Science, Ecole Polytechnique ...",False,"France, Paris, France"
3,Bill Gates,124.0,United States,Microsoft,4,65.0,"Medina, Washington",United States,Divorced,3.0,"Drop Out, Harvard University",True,"United States, Medina, Washington"
4,Mark Zuckerberg,97.0,United States,Facebook,5,36.0,"Palo Alto, California",United States,Married,2.0,"Drop Out, Harvard University",True,"United States, Palo Alto, California"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2736,Surin Upatkoon,1.0,Thailand,"telecom, lotteries, insurance",2674,72.0,"Kuala Lumpur, Malaysia",Thailand,Married,3.0,High School,True,"Thailand, Kuala Lumpur, Malaysia"
2737,Ruben Vardanyan,1.0,Russia,investment banking,2674,52.0,"Moscow, Russia",Russia,Married,4.0,"Master of Science, Moscow State University",True,"Russia, Moscow, Russia"
2742,J. Wayne Weaver,1.0,United States,Shoes,2674,85.0,"Jacksonville, Florida",United States,Married,2.0,"Bachelor of Science, University of Florida",True,"United States, Jacksonville, Florida"
2743,Sandy Weill,1.0,United States,Citigroup,2674,88.0,"Sonoma, California",United States,Married,2.0,"Bachelor of Arts/Science, Cornell University",True,"United States, Sonoma, California"
2746,Vadim Yakunin,1.0,Russia,pharmacy,2674,58.0,"Moscow, Russia",Russia,Married,3.0,"Bachelor of Arts/Science, Moscow Institute of ...",True,"Russia, Moscow, Russia"

In [57]:
df[df["Age"]<30]

,Name,NetWorth,Nation,Source,Rank,Age,Residence,Citizenship,Status,Children,Education,Self_made
274,Sam Bankman-Fried,8.7,United States,cryptocurrency,274,29.0,"Hong Kong, Hong Kong",United States,NaN,NaN,"Bachelor of Arts/Science, Massachusetts Instit...",NaN
661,Gustav Magnar Witzoe,4.4,Norway,fish farming,655,28.0,"Kverva, Norway",Norway,Single,NaN,NaN,False
940,Kevin David Lehmann,3.3,Germany,drugstores,925,18.0,NaN,Germany,NaN,NaN,NaN,False
1328,Jonathan Kwok,2.4,Hong Kong,Real Estate,1299,29.0,"Hong Kong, Hong Kong",Hong Kong,NaN,NaN,"Bachelor of Business Administration, Cornell U...",False
1338,Austin Russell,2.4,United States,★,1299,26.0,"Los Altos, California",United States,Single,NaN,"Drop Out, Stanford University",True
1596,Andy Fang,2.0,United States,food delivery app,1580,28.0,"MONTE VISTA, California",United States,NaN,NaN,"Bachelor of Arts/Science, Stanford University",True
1645,Stanley Tang,2.0,United States,food delivery app,1580,28.0,"San Francisco, California",United States,NaN,NaN,"Bachelor of Arts/Science, Stanford University",True
2122,Wang Zelong,1.5,China,chemicals,2035,24.0,"Jiaozuo, China",China,Married,NaN,NaN,False
2143,Alexandra Andresen,1.4,Norway,investments,2141,24.0,"Oslo, Norway",Norway,Single,NaN,NaN,False
2144,Katharina Andresen,1.4,Norway,investments,2141,25.0,"Oslo, Norway",Norway,Single,NaN,NaN,False

In [42]:
df[df["Nation"]=="United States"]

,Name,NetWorth,Nation,Source,Rank,Age,Residence,Citizenship,Status,Children,Education,Self_made,address
0,Jeff Bezos,177.0,United States,Amazon,1,57.0,"Seattle, Washington",United States,In Relationship,4.0,"Bachelor of Arts/Science, Princeton University",True,"United States, Seattle, Washington"
1,Elon Musk,151.0,United States,"Tesla, SpaceX",2,49.0,"Austin, Texas",United States,In Relationship,7.0,"Bachelor of Arts/Science, University of Pennsy...",True,"United States, Austin, Texas"
3,Bill Gates,124.0,United States,Microsoft,4,65.0,"Medina, Washington",United States,Divorced,3.0,"Drop Out, Harvard University",True,"United States, Medina, Washington"
4,Mark Zuckerberg,97.0,United States,Facebook,5,36.0,"Palo Alto, California",United States,Married,2.0,"Drop Out, Harvard University",True,"United States, Palo Alto, California"
5,Warren Buffett,96.0,United States,Berkshire Hathaway,6,90.0,"Omaha, Nebraska",United States,"Widowed, Remarried",3.0,"Master of Science, Columbia University; Bachel...",True,"United States, Omaha, Nebraska"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2685,Larry Fink,1.0,United States,money management,2674,68.0,"New York, New York",United States,Married,3.0,"Master of Business Administration, Anderson Sc...",True,"United States, New York, New York"
2702,Bom Kim,1.0,United States,online retailing,2674,42.0,"Seoul, South Korea",United States,Married,1.0,"Bachelor of Arts/Science, Harvard University",True,"United States, Seoul, South Korea"
2732,Vlad Tenev,1.0,United States,stock trading,2674,34.0,"Palo Alto, California",United States,Married,1.0,"Bachelor of Arts/Science, Stanford University",True,"United States, Palo Alto, California"
2742,J. Wayne Weaver,1.0,United States,Shoes,2674,85.0,"Jacksonville, Florida",United States,Married,2.0,"Bachelor of Science, University of Florida",True,"United States, Jacksonville, Florida"
2743,Sandy Weill,1.0,United States,Citigroup,2674,88.0,"Sonoma, California",United States,Married,2.0,"Bachelor of Arts/Science, Cornell University",True,"United States, Sonoma, California"

In [47]:
df

,Name,NetWorth,Nation,Source,Rank,Age,Residence,Citizenship,Status,Children,Education,Self_made
0,Jeff Bezos,177.0,United States,Amazon,1,57.0,"Seattle, Washington",United States,In Relationship,4.0,"Bachelor of Arts/Science, Princeton University",True
1,Elon Musk,151.0,United States,"Tesla, SpaceX",2,49.0,"Austin, Texas",United States,In Relationship,7.0,"Bachelor of Arts/Science, University of Pennsy...",True
2,Bernard Arnault & family,150.0,France,LVMH,3,72.0,"Paris, France",France,Married,5.0,"Bachelor of Arts/Science, Ecole Polytechnique ...",False
3,Bill Gates,124.0,United States,Microsoft,4,65.0,"Medina, Washington",United States,Divorced,3.0,"Drop Out, Harvard University",True
4,Mark Zuckerberg,97.0,United States,Facebook,5,36.0,"Palo Alto, California",United States,Married,2.0,"Drop Out, Harvard University",True
...,...,...,...,...,...,...,...,...,...,...,...,...
2750,Daniel Yong Zhang,1.0,China,e-commerce,2674,49.0,"Hangzhou, China",China,NaN,NaN,NaN,True
2751,Zhang Yuqiang,1.0,China,Fiberglass,2674,65.0,"Tongxiang, China",China,NaN,NaN,NaN,True
2752,Zhao Meiguang,1.0,China,gold mining,2674,58.0,"Jilin, China",China,NaN,NaN,NaN,True
2753,Zhong Naixiong,1.0,China,conglomerate,2674,58.0,"Foshan, China",China,NaN,NaN,NaN,True
2754,Zhou Wei family,1.0,China,Software,2674,54.0,"Shanghai, China",China,Married,NaN,NaN,True

In [48]:
df.groupby("Nation")["Age"].mean()

Nation
Algeria           77.000000
Argentina         85.750000
Australia         65.348837
Austria           69.583333
Belgium           61.000000
                    ...
United Kingdom    66.754717
United States     66.101551
Venezuela         61.000000
Vietnam           55.000000
Zimbabwe          60.000000
Name: Age, Length: 70, dtype: float64

In [ ]:
df.groupby("Nation")["Age"].sum()

Nation
Argentina                  85.0
Australia                1007.0
Austria                   157.0
Brazil                   1250.0
Canada                   1174.0
Chile                     213.0
China                    2707.0
Colombia                  151.0
Czechia                   269.0
Denmark                    73.0
Egypt                     333.0
Eswatini (Swaziland)       89.0
France                    377.0
Germany                  1070.0
Greece                     59.0
Hong Kong                1393.0
Iceland                    54.0
India                    4926.0
Indonesia                 339.0
Ireland                   127.0
Israel                    358.0
Italy                     617.0
Japan                     743.0
Kazakhstan                107.0
Lebanon                   183.0
Malaysia                  776.0
Mexico                    497.0
Morocco                   148.0
Netherlands               153.0
Nigeria                   132.0
Norway                     60.0
Peru                      132.0
Philippines               511.0
Poland                     43.0
Romania                    49.0
Russia                   5713.0
Singapore                 197.0
South Africa              143.0
South Korea              2014.0
Spain                     498.0
Sweden                    599.0
Switzerland               682.0
Taiwan                   1860.0
Thailand                  391.0
Turkey                    559.0
Ukraine                   331.0
United Arab Emirates       68.0
United Kingdom            598.0
United States           32325.0
Venezuela                  61.0
Vietnam                    50.0
Zimbabwe                   60.0
Name: Age, dtype: float64

In [ ]:
df.groupby("Nation")["Age"].min()

Nation
Argentina               85.0
Australia               41.0
Austria                 76.0
Brazil                  39.0
Canada                  57.0
Chile                   70.0
China                   47.0
Colombia                63.0
Czechia                 45.0
Denmark                 73.0
Egypt                   59.0
Eswatini (Swaziland)    89.0
France                  67.0
Germany                 46.0
Greece                  59.0
Hong Kong               35.0
Iceland                 54.0
India                   38.0
Indonesia               58.0
Ireland                 63.0
Israel                  44.0
Italy                   68.0
Japan                   56.0
Kazakhstan              53.0
Lebanon                 42.0
Malaysia                63.0
Mexico                  58.0
Morocco                 60.0
Netherlands             66.0
Nigeria                 64.0
Norway                  60.0
Peru                    57.0
Philippines             65.0
Poland                  43.0
Romania                 49.0
Russia                  33.0
Singapore               40.0
South Africa            68.0
South Korea             46.0
Spain                   44.0
Sweden                  46.0
Switzerland             47.0
Taiwan                  53.0
Thailand                53.0
Turkey                  57.0
Ukraine                 47.0
United Arab Emirates    68.0
United Kingdom          36.0
United States           30.0
Venezuela               61.0
Vietnam                 50.0
Zimbabwe                60.0
Name: Age, dtype: float64

In [49]:
df["Age"].min()

np.float64(18.0)

In [50]:
df["Age"].max()

np.float64(99.0)

In [58]:
df["United States"].mode()

KeyError: 'United States'

In [52]:
df["Nation"].value_counts().head(1)

Nation
United States    724
Name: count, dtype: int64

In [56]:
#which country has most billionares
df["Nation"].value_counts().head(5)

Nation
United States    724
China            626
India            140
Germany          136
Russia           118
Name: count, dtype: int64

In [64]:
pd.set_option("display.max_rows",None)
df

                                        Name  NetWorth                Nation  \
0                                 Jeff Bezos     177.0         United States
1                                  Elon Musk     151.0         United States
2                   Bernard Arnault & family     150.0                France
3                                 Bill Gates     124.0         United States
4                            Mark Zuckerberg      97.0         United States
5                             Warren Buffett      96.0         United States
6                              Larry Ellison      93.0         United States
7                                 Larry Page      91.5         United States
8                                Sergey Brin      89.0         United States
9                              Mukesh Ambani      84.5                 India
10                            Amancio Ortega      77.0                 Spain
11     Francoise Bettencourt Meyers & family      73.6                France
12                            Zhong Shanshan      68.9                 China
13                             Steve Ballmer      68.7         United States
14                                Ma Huateng      65.8                 China
15                 Carlos Slim Helu & family      62.8                Mexico
16                              Alice Walton      61.8         United States
17                                Jim Walton      60.2         United States
18                                Rob Walton      59.5         United States
19                         Michael Bloomberg      59.0         United States
20                         Colin Zheng Huang      55.3                 China
21                           MacKenzie Scott      53.0         United States
22                            Daniel Gilbert      51.9         United States
23                     Gautam Adani & family      50.5                 India
24                      Phil Knight & family      49.9         United States
25                                   Jack Ma      48.4                 China
26                              Charles Koch      46.4         United States
27                       Julia Koch & family      46.4         United States
28                             Masayoshi Son      45.4                 Japan
29                              Michael Dell      45.1         United States
30                    Tadashi Yanai & family      44.1                 Japan
31                 François Pinault & family      42.3                France
32                    David Thomson & family      41.8                Canada
33         Beate Heister & Karl Albrecht Jr.      39.2               Germany
34                                  Wang Wei      39.0                 China
35                            Miriam Adelson      38.2         United States
36                              He Xiangjian      37.7                 China
37                            Dieter Schwarz      36.9               Germany
38                              Zhang Yiming      35.6                 China
39                          Giovanni Ferrero      35.1                 Italy
40                          Alain Wertheimer      34.5                France
41                         Gerard Wertheimer      34.5                France
42                               Li Ka-shing      33.7             Hong Kong
43                      Qin Yinglin & family      33.5                 China
44                          William Lei Ding      33.0                 China
45                             Len Blavatnik      32.0         United States
46                              Lee Shau Kee      31.7             Hong Kong
47                           Jacqueline Mars      31.3         United States
48                                 John Mars      31.3         United States
49                      Yang Huiyan & family      29.6                 China
50                 Alexey Mordashov & family      29.1                Russia
51                                Robin Zeng      28.4             Hong Kong
52                                Hui Ka Yan      27.7                 China
53                           Susanne Klatten      27.7               Germany
54                          Vladimir Potanin      27.0                Russia
55                       Dietrich Mateschitz      26.9               Austria
56                                 Pang Kang      26.4                 China
57                      Klaus-Michael Kuehne      26.3               Germany
58                            Vladimir Lisin      26.2                Russia
59                                 Wang Xing      26.1                 China
60       German Larrea Mota Velasco & family      25.9                Mexico
61             Leonardo Del Vecchio & family      25.8                 Italy
62                        Takemitsu Takizaki      25.8                 Japan
63                            Leonard Lauder      25.5         United States
64                           Thomas Peterffy      25.0         United States
65                           Vagit Alekperov      24.9                Russia
66                          Leonid Mikhelson      24.9                Russia
67                                Jim Simons      24.6         United States
68                   Jiang Rensheng & family      24.4                 China
69                             Gina Rinehart      23.6             Australia
70                   Rupert Murdoch & family      23.5         United States
71                                Shiv Nadar      23.5                 India
72                             Zhang Zhidong      23.4                 China
73                    Iris Fontbona & family      23.3                 Chile
74                                   Lei Jun      23.0                 China
75                                Zhang Yong      23.0             Singapore
76                     Richard Qiangdong Liu      22.4                 China
77                         Gennady Timchenko      22.0                Russia
78                        Stephen Schwarzman      21.9         United States
79                           Goh Cheng Liang      21.7             Singapore
80                             Stefan Quandt      21.6               Germany
81                                 Li Xiting      21.5             Singapore
82                            Pierre Omidyar      21.4         United States
83                            Stefan Persson      21.3                Sweden
84                           Abigail Johnson      20.9         United States
85                           R. Budi Hartono      20.5             Indonesia
86                            Andrew Forrest      20.4             Australia
87                                 Ray Dalio      20.3         United States
88                           Michael Hartono      19.7             Indonesia
89                                  Li Shufu      19.7                 China
90                             Zhong Huijuan      19.7                 China
91                                   Xu Hang      19.5             Hong Kong
92                      Lui Che Woo & family      19.4             Hong Kong
93                          Emmanuel Besnier      19.1                France
94              Laurene Powell Jobs & family      19.0         United States
95                              Eric Schmidt      18.9         United States
96                              Sun Piaoyang      18.9                 China
97               Theo Albrecht, Jr. & family      18.8               Germany
98                           Alisher Usmanov      18.4                Russia
99                               Robert Pera      18.3         United States
100                                 Wu Yajun      18.3                 China
101                     Fan Hongwei & family      18.2                 China
102                      Dhanin Chearavanont      18.1              Thailand
103                                Peter Woo      18.0             Hong Kong
104                                Chen Bang      17.9                 China
105                       Andrey Melnichenko      17.9                Russia
106                         Dustin Moskovitz      17.8         United States
107                                   Su Hua      17.8                 China
108                          Donald Newhouse      17.6         United States
109                             Petr Kellner      17.5               Czechia
110                              Lee Man Tat      17.4             Hong Kong
111                              Pavel Durov      17.2                Russia
112                          James Ratcliffe      17.0        United Kingdom
113              Jorge Paulo Lemann & family      16.9                Brazil
114                 Reinhold Wuerth & family      16.8               Germany
115   Charlene de Carvalho-Heineken & family      16.7           Netherlands
116                       Radhakishan Damani      16.5                 India
117                             Wang Chuanfu      16.3                 China
118                              Steve Cohen      16.0         United States
119                              Ken Griffin      16.0         United States
120                             Chen Zhiping      15.9                 China
121                       Ernest Garcia, II.      15.9         United States
122                               Uday Kotak      15.9                 India
123                               Carl Icahn      15.8         United States
124                Suleiman Kerimov & family      15.8                Russia
125               Thomas Frist, Jr. & family      15.7         United States
126                             Lukas Walton      15.6         United States
127                          Mikhail Fridman      15.5                Russia
128                     Wei Jianjun & family      15.5                 China
129                                  Zuo Hui      15.5                 China
130                     Zhou Qunfei & family      15.4             Hong Kong
131                              Donald Bren      15.3         United States
132                         Hinduja brothers      14.9        United Kingdom
133                           Lakshmi Mittal      14.9                 India
134                         Georg Schaeffler      14.9               Germany
135                       Eric Yuan & family      14.9         United States
136                             Wang Jianlin      14.8                 China
137                           Kwong Siu-hing      14.7             Hong Kong
138                                 Robin Li      14.7                 China
139                          Pallonji Mistry      14.6               Ireland
140                          Eduardo Saverin      14.6                Brazil
141                         Roman Abramovich      14.5                Russia
142                             David Tepper      14.5         United States
143                    Gong Hongjia & family      14.4             Hong Kong
144                      Mike Cannon-Brookes      14.2             Australia
145                         John Menard, Jr.      14.2         United States
146                             Seo Jung-jin      14.2           South Korea
147                             Cheng Yixiao      14.1                 China
148                             Liang Wengen      14.1                 China
149                           Scott Farquhar      14.0             Australia
150                             Finn Rausing      13.9                Sweden
151                             Jorn Rausing      13.9                Sweden
152                          Kirsten Rausing      13.9                Sweden
153                             Brian Chesky      13.7         United States
154                               Joseph Lau      13.6             Hong Kong
155                           David Duffield      13.5         United States
156                Charoen Sirivadhanabhakdi      13.5              Thailand
157                              Kim Jung-ju      13.3           South Korea
158                       Robert & Philip Ng      13.3             Singapore
159                            Zhang Bangxin      13.3                 China
160                     Anders Holch Povlsen      13.2               Denmark
161                              Wang Wenyin      13.2                 China
162                     Wang Liping & family      13.1                 China
163                        Tatyana Bakalchuk      13.0                Russia
164                            Michael Platt      13.0        United Kingdom
165                             Huang Shilin      12.9                 China
166          Ricardo Salinas Pliego & family      12.9                Mexico
167                              Kumar Birla      12.8                 India
168                              Dang Yanbao      12.7                 China
169                         Cyrus Poonawalla      12.7                 India
170                              Robert Kuok      12.6              Malaysia
171                       Hank & Doug Meijer      12.6         United States
172                              Jack Dorsey      12.5         United States
173                             Lu Zhongfang      12.5                 China
174                     Ma Jianrong & family      12.5                 China
175                                Zhang Tao      12.5                 China
176                       Nathan Blecharczyk      12.4         United States
177                               John Doerr      12.4         United States
178                               Joe Gebbia      12.4         United States
179                               Forrest Li      12.4             Singapore
180                               Yu Renrong      12.3                 China
181                     Liu Yonghao & family      12.1                 China
182                             Gordon Moore      12.1         United States
183                                Jeff Yass      12.0         United States
184                             Bobby Murphy      11.9         United States
185                            Patrick Drahi      11.8                France
186                             Jensen Huang      11.8         United States
187                           Alexander Otto      11.8               Germany
188                                Cen Junda      11.6                 China
189                              Joseph Tsai      11.6                Canada
190                            Aliko Dangote      11.5               Nigeria
191                   Marcel Herrmann Telles      11.5                Brazil
192                        Mikhail Prokhorov      11.4                Russia
193                Jorge Moll Filho & family      11.3                Brazil
194                         Viktor Rashnikov      11.2                Russia
195                          Harry Triguboff      11.2             Australia
196                    Leonid Fedun & family      11.1                Russia
197                                Eyal Ofer      11.1                Israel
198                             Evan Spiegel      11.1         United States
199                    Luis Carlos Sarmiento      11.0              Colombia
200             Andreas Struengmann & family      11.0               Germany
201              Thomas Struengmann & family      11.0               Germany
202                  Rodolphe Saadé & family      10.9                France
203                           Dilip Shanghvi      10.9                 India
204                          Tom & Judy Love      10.8         United States
205                            Anthony Pratt      10.8             Australia
206                            Wang Laisheng      10.8                 China
207               Gianluigi & Rafaela Aponte      10.7           Switzerland
208                             Wang Laichun      10.7                 China
209                             Chen Jianhua      10.6                 China
210                              Leng Youbin      10.6                 China
211                           Charles Schwab      10.6         United States
212                      Li Zhenguo & family      10.5                 China
213                    Sunil Mittal & family      10.5                 India
214                Melker Schorling & family      10.5                Sweden
215                                  Cai Kui      10.4                 China
216                          John Fredriksen      10.4                Cyprus
217                          Qi Shi & family      10.4                 China
218                      Chase Coleman, III.      10.3         United States
219                             Hui Wing Mau      10.3             Hong Kong
220                     Edward Johnson, III.      10.3         United States
221                              Liu Hanyuan      10.3                 China
222                     Larry Xiangdong Chen      10.2                 China
223                          Philip Anschutz      10.1         United States
224                    Dietmar Hopp & family      10.1               Germany
225                              German Khan      10.1                Russia
226                                    Li Ge      10.1         United States
227                             Jay Chaudhry      10.0         United States
228                            Eric Wittouck      10.0               Belgium
229                                Carl Cook       9.9         United States
230                                 Jan Koum       9.9         United States
231             Herbert Kohler, Jr. & family       9.8         United States
232                               Tobi Lutke       9.8                Canada
233                              James Dyson       9.7        United Kingdom
234                               Mat Ishbia       9.7         United States
235                  Savitri Jindal & family       9.7                 India
236                            Friedhelm Loh       9.7               Germany
237                       Iskander Makhmudov       9.7                Russia
238                          Stefano Pessina       9.7                 Italy
239                           Quek Leng Chan       9.7              Malaysia
240                         Israel Englander       9.6         United States
241                            Charles Ergen       9.6         United States
242                             Jim Pattison       9.6                Canada
243                            Yao Liangsong       9.6                 China
244                             David Geffen       9.5         United States
245                            Yeung Kin-man       9.5             Hong Kong
246                   Ding Shizhong & family       9.4                 China
247                     Harold Hamm & family       9.4         United States
248                              Jim Kennedy       9.4         United States
249                       Blair Parry-Okeden       9.4         United States
250                              Ding Shijia       9.3                 China
251                              Kim Beom-su       9.3           South Korea
252                Ian & Richard Livingstone       9.3        United Kingdom
253                              Sun Hongbin       9.3         United States
254      Alberto Bailleres Gonzalez & family       9.2                Mexico
255                             Lam Wai-ying       9.1             Hong Kong
256    Massimiliana Landini Aleotti & family       9.1                 Italy
257                             Lu Xiangyang       9.1                 China